config/vim/plugged/*
config/nvim/plugin/packer_compiled.lua
config/gcloud
config/gatsby
config/karabiner/automatic_backups
config/configstore
config/yarn
config/exercism
autoload

Brewfile.lock.json
*.swp
